html 
{
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

body
{
	background-color: #9CBCDA;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

ul
{
	margin: 0;
	padding: 0;
}

hr
{
	background: #dddddd;
	border: none;
	color: #dddddd;
	height: 1px;
}
/*********************************************************************************/

.contain
{
	max-width: 1100px;
	margin: 0 auto;
}

ul.list-unstyled li
{
	list-style-type: none;
}

.list-inline li
{
	display: inline-block;
}

/*********************************************************************************/
.main-nav
{
	background: #111683;
	background: linear-gradient(to bottom,  #4651c9 0%,#111683 90%);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
	position: fixed;
	z-index: 2;
	width: 1100px;
}

.main-nav a
{
	color: #e3b11f;
	height: 45px;
	text-decoration: none;
	display: block;
	border: none;
	line-height: 40px;
	background: transparent;
	font-size: 13px;
	font-weight: bold;
	padding: 0 8.5px;
}

.main-nav ul
{
	padding: 0;
}	

.main-nav li:hover a:hover
{
	color: #eeeeee;
	background-color: #3b44ad;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: initial;
}

.active
{
	background-color: #e3b11f;
	text-shadow: none;
}

.active a
{
	color: #111683;
}

.search
{
	float: right;
}
/*********************************************************************************/

.parent
{
	margin: auto auto;
	height: 100%;
	min-height: 1900px;
	padding: 45px 0 0 0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
	background: #e3b11f;
	background: linear-gradient(to bottom,#e3b11f 0%,#e0ce9d 100%);
}

/*********************************************************************************/

.left-pane
{
	width: 20%;
	float: left;
	height: 100%;
	background-image: url(images/hat.png);
	background-repeat: no-repeat;
}

.space
{
	margin: 250px 0 0 0;
	display: block;
}

.logo
{
	position: fixed;
	width: 220px;
	height: 250px;
	bottom: 10%;
	background-image: url(images/bell.gif);
	background-repeat: no-repeat;
}

.side-nav
{
	border: none;
	text-align: right;
	padding: 20px 0 0 0;
	z-index: 1;
}

.side-nav li
{
	margin: 0 10px 6px 20px;
	font-weight: normal;
	font-size: 13px;
	height: auto;
	line-height: normal;
}

.side-nav a
{
	text-decoration: none;
}

.side-nav li:hover a:hover
{
	color: #ffffff;
	background-color: #111683;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: initial;
}

.banners
{
	z-index: 1;
}

.banners img
{
	padding: 20px 0 0 0;
}

.icon
{
	padding: 0 0 0 20px;
}
/*********************************************************************************/

.right-content
{
	width: 80%;
	height: 93%;
	min-height: 800px;
	float: right;
	margin: 0;
	overflow: hidden;
	background: #ffffff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.header
{
	width: 880px;
	float: left;
	height: 350px;
	background-color: #111683;
	background-image: url(images/main-page-header1.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	box-shadow: 0 10px 20px rgba(50, 50, 50, .75);
	
}

.header img
{
	float: right;
}

.wrapper
{
	min-height: 652px;
	margin: 20px auto;
	padding: 0 20px 20px 20px;
	float: left;
}

.content
{
	width: 100%;
	max-width: 546px;
	float: left;
	margin: 0 0 20px 0;
}

.content a
{
	color: #111683;
	text-decoration: none;
}

.content a:hover
{
	color: #444444;
}

.content h2
{
	font-weight: 700;
	line-height: 1.0em;
	word-wrap: break-word;
}

.news1 p
{
	color: #444444;
	font-size: 14px;
	line-height: 1.5em;
}

.news1 img
{
	margin: 0 10px 0 0;
}

.news2
{

}

.content-icons img
{
	margin: 20px 20px 0 0;
}

.return
{
	text-align: center;
	font-size: 10px;
	bottom: 0;
	right: 0;
	margin-top: 1700px;
}

.return a
{
	text-decoration: none;
}

/*********************************************************************************/

.calendar-container /* inside of parent*/
{
	
	background: linear-gradient(to bottom,#5392ce 0%,#dde9f5 100%);
	text-align: center;
	color: #111683;
	padding: 25px;
	border-radius: 7px;
	width: 210px;
	float: left;
	margin: -60px 0 0 15px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
}

.calendar
{
	margin: 5px 0;
	border-top-color: #111683;
	border-radius: 14px;
	border: 1px solid;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
	width: 210px;
	text-align: center;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 13px;
}

.calendar-top
{
	background-color: #111683;
	color: #e3b11f;
}

.calendar thead
{
	color: #e3b11f;
	text-decoration: none;
	font-weight: bold;
}

.calendar thead a
{
	color: #e3b11f;
	text-decoration: none;
	font-weight: bold;
}

.calendar thead td
{
	padding: 2px 4px;
}

.days
{
	color: #e3b11f;
	background-color: #111683;
	font-weight: bold;
}

.schedule
{
	border-left: 3px solid;	
	margin: 0 5px;
}

.schedule li
{
	text-align: left;
	padding: 10px 0 10px 5px;
}

.schedule li a
{
	text-decoration: none;
	text-align: left;
	font-weight: bold;
	padding-left: 15px;
	color: #111683;
}

.social img
{
	width: 55px;
}
/*********************************************************************************/

.footer
{
	color: #555555;
	width: 80%;
	float: right;
	background: white;
	text-align: center;
	line-height: 1.1;
	margin-top: 5px;
	border-radius: 20px;
	font-size: 10px;
	padding: 20px 0;
}

.footer-text
{
	margin: 0 20px;
}

