/*

==Reference==
=nChannel colors=
Dark gray--#3B3E4B
Light blue-- #9CDCF2
Orange--#EE7541
light gray--#F4F4F4
Mega dark gray--#333643
Question button yellow--#EAAC15
Light gray text--#787B8A
==
Button colors:
Top yellow button--#EBAD06
Top blue button--#00B2EE
Another blue button--#22B0E6
Dark orange button--#A74F28
Box shading--#181a20;

*/

body
{
	/*big height--placeholder for scrolling*/
	height: 5000px;
	margin: 0px;
	/*seeing lime green is bad...*/
	background-color: lime;
	/*Default font for whole page*/
	font-family: 'Kreon';
}

.TopBar1
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #3B3E4B;
	text-align: right;
}

.nolinkstufftopnav
{
	padding-right: 1%;
	text-decoration: none;
	color: #787B8A;
}

.nolinkstufftopnav:hover
{
	color: white;
}


.TopButton1
{
	position: fixed;
	top: 60px;
	left: 60%;
	height: 35px;
	width: 90px;
	line-height: 30px;
	border-radius: 0px 0px 5px 5px;
	background-color: #EBAD06;
}

.TopButton2
{
	position: fixed;
	top: 60px;
	left: 68%;
	height: 35px;
	width: 90px;
	line-height: 30px;
	border-radius: 0px 0px 5px 5px;
	background-color: #00B2EE;
}

.TopButton3
{
	position: fixed;
	top: 60px;
	left: 76%;
	height: 35px;
	width: 180px;
	line-height: 30px;
	border-radius: 0px 0px 5px 5px;
	background-color: #EE7541;
}

.TopButton4
{
	position: fixed;
	top: 60px;
	left: 91%;
	height: 35px;
	width: 45px;
	line-height: 30px;
	border-radius: 0px 0px 5px 5px;
	background-color: #3B3E4B;

	color: #787B8A;
	text-align: center;
}

.BlueSection2
{
	height: 14%;
	width: 100%;
	background-color: #9CDCF2;
}

.SectionButton
{
	height: 5%;
	width: 10%;
	background-color: #EE7541;
	border-radius: 0px 5px 0px 5px;
	margin: 0 auto;
	line-height: 30px;

	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}
.SectionButton:hover
{
	background-color: darkgrey;
}

.OrangeSection3
{
	height: 2%;
	width: 100%;
	background-color: #EE7541;

	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	font-size: 200%;
	color: white;
	text-decoration: none;
	line-height: 100px;
}

.WhiteSection4
{
	height: 14%;
	width: 100%;
	background-color: #FFFFFF;

}
.section4toptext
{
	font-family: 'Kreon';
	color: #333643;
	font-size: 125%;
	margin: 0;
	padding: 0;
}
.section42text
{
	font-family: 'Kreon';
	color: #EE7541;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.Section4Button
{
	height: 5%;
	width: 13%;
	background-color: #22B0E6;
	border-radius: 0px 5px 0px 5px;
	margin: 0 auto;
	line-height: 30px;
	margin-top: 5%;

	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}
.Section4Button:hover
{
	background-color: darkgrey;
}

.LightGraySection5
{
	height: 14%;
	width: 100%;
	background-color: #F4F4F4;
}

.sec5maindiv
{
	margin-left: 0px;
	margin-right: 0px; 
	width: 45%; 
	height: 70%; 
	background-color: #F4F4F4; 
	display: inline-block;
}
.sec5stackdiv
{
	float: right;
}

.WhiteSection6
{
	height:10%;
	width: 100%;
	background-color: #FFFFFF;
}

.sec5text1
{
	color: #3B3E4B;
	text-align: center;
	font-size: 150%;
}

.section6text1
{
	font-size: 125%;
	text-align: left;
	color: #787B8A;
	font-weight: bolder;
	margin-top: 10%;
	margin-right: 10%;
}

.section6text2
{
	font-family: 'Roboto';
	font-size: 100%;
	text-align: left;
	color: #787B8A;
	font-weight: normal;
	margin-top: 10%;
}

.Section6Button
{
	height: 40%;
	width: 30%;
	background-color: #22B0E6;
	border-radius: 0px 10px 0px 10px;
	/*margin: 0 auto;*/
	margin-left: 5px;
	line-height: 40px;
	margin-top: 5%;

	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}
.Section6Button:hover
{
	background-color: darkgrey;
}

.OrangeSection7
{
	height: 14%;
	width: 100%;
	background-image: url("orange-back.JPG");
	background-color: #EE7541;
}

.sec7text
{
	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.sec7Button
{
	color: white;
	background-color: #A74F28;
	border-radius: 20px 20px 20px 20px;
}


.cleardiv
{
	border-style: solid;
	border-width: 4px;
	border-color: white;
	border-radius: 0px 25px 0px 25px;
	margin: auto;
	width: 300px;
	height: 100px;
}

.phonetext
{
	margin: 0;
	padding: 0;
	color: white;
	font-size: 200%;
	display: inline-block;
}

.Section7Button
{
	height: 40%;
	width: 30%;
	background-color: #22B0E6;
	border-radius: 0px 10px 0px 10px;
	/*margin: 0 auto;*/
	margin-left: 5px;
	line-height: 40px;
	margin-top: 5%;

	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}
.Section7Button:hover
{
	background-color: darkgrey;
}

.sec7buttonfont
{
	font-family: 'Kreon';
	font-weight: bolder;
	text-align: left;
	color: white;
	text-decoration: none;
	font-size: 125%;
}

.sec7liltext
{
	float: right;
	margin-right: 25px;
	margin-top: -50px;
	font-family: 'Roboto';
	font-size: 80%;
}

.section8text1
{
	font-size: 200%;
	text-align: right;
	color: #787B8A;
	font-weight: bolder;
	margin-top: 10%;
	margin-right: 10%;
}

.section8text2
{
	font-family: 'Roboto';
	font-size: 100%;
	text-align: left;
	color: #787B8A;
	font-weight: normal;
	margin-top: 10%;
}

.WhiteSection8
{
	height: 16%;
	width: 100%;
	background-color: #FFFFFF;
}
.center8
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.LightGraySection9
{
	height: 9%;
	width: 100%;
	background-color: #F4F4F4;
}

.DarkGraySection10
{
	height: 5%;
	width: 100%;
	background-color: #3B3E4B;
}
.section10texta
{
	color: white;
	font-size: 150%;
	text-align: center;

}

.section10fonta
{
	background-color: #A74F28;
	color:  #3B3E4B;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.nolinkstuffbottom
{
	padding-right: 1%;
	text-decoration: none;
	color: #787B8A;
	font-size: 75%;
}

.nolinkstuffbottom:hover
{
	color: white;
}

.paddingsection10
{
	margin: 30px;
}
.cells
{
	border-spacing: 50px 0;
	text-align: left;
}

.MegaDarkGraySection11
{
	height: 2%;
	width: 100%;
	background-color: #333643;
	text-align: center;
}

.QuestionButtonBottom
{
	position: fixed;
	right: 2%;
	height: 6%;
	width: 20%;
	bottom: 0px;
	border-radius: 0px 20px 0px 0px;
	box-shadow: 2px -2px 5px #181A20;
	background-color: #EAAC15;
	line-height: 40px;

	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}

.QuestionButtonBottom:hover
{
	height: 7%;
}


/*Generic classes*/
.nolinkstuff
{
	text-decoration: none;
	color: inherit;
}


.whitefont
{
	font-family: 'Roboto';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
	font-style: italic;
}

.whitefontnotitalic
{
	font-family: 'Roboto';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}

.whitefontnotitalickreon
{
	font-family: 'Kreon';
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}
.centerimageblock
{
	display: block;
	margin-left: auto;
    margin-right: auto;
}


