/*

==Reference==
=nChannel colors=
dark gray--#3B3E4B
light blue-- #9CDCF2
orange--#EE7541
light gray--#F4F4F4
Mega dark gray--#333643
Question button yellow--#EAAC15

*/

body
{
	/*big height--placeholder for scrolling*/
	height: 5000px;
	margin: 0px;
	/*seeing lime green is bad...*/
	background-color: lime;
	/*Default font for whole page*/
	font-family: 'Roboto';

}

.TopBar1
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: #3B3E4B;
}

.TopButton1
{
	position: fixed;
	top: 100px;
	left: 50%;
	height: 50px;
	width: 50px;
	border-radius: 0px 0px 20px 20px;
	background-color: #EAAC15;
}

.TopButton2
{
	position: fixed;
	top: 100px;
	left: 60%;
	height: 50px;
	width: 50px;
	border-radius: 0px 0px 20px 20px;
	background-color: #9CDCF2;
}

.TopButton3
{
	position: fixed;
	top: 100px;
	left: 70%;
	height: 50px;
	width: 50px;
	border-radius: 0px 0px 20px 20px;
	background-color: #EE7541;
}

.BlueSection2
{
	height: 14%;
	width: 100%;
	background-color: #9CDCF2;
}

.OrangeSection3
{
	height: 2%;
	width: 100%;
	background-color: #EE7541;
}

.WhiteSection4
{
	height: 14%;
	width: 100%;
	background-color: #FFFFFF;
}

.LightGraySection5
{
	height: 14%;
	width: 100%;
	background-color: #F4F4F4;
}

.WhiteSection6
{
	height:10%;
	width: 100%;
	background-color: #FFFFFF;
}

.OrangeSection7
{
	height: 14%;
	width: 100%;
	background-color: #EE7541;
}

.WhiteSection8
{
	height: 16%;
	width: 100%;
	background-color: #FFFFFF;
}

.LightGraySection9
{
	height: 9%;
	width: 100%;
	background-color: #F4F4F4;
}

.DarkGraySection10
{
	height: 5%;
	width: 100%;
	background-color: #3B3E4B;
}

.MegaDarkGraySection11
{
	height: 2%;
	width: 100%;
	background-color: #333643;
}

.QuestionButtonBottom
{
	/*
	position: fixed;
	float: bottom;
	top: 4950px;
	height: 50px;
	width: 20%;
	*/
	position: fixed;
	right: 2%;
	height: 6%;
	width: 20%;
	bottom: 0px;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 2px -2px 5px darkgrey;
	background-color: #EAAC15;

	font-family: Helvetica;
	font-weight: bolder;
	text-align: center;
	color: white;
	text-decoration: none;
}


/*Generic classes*/
.nolinkstuff
{
	text-decoration: none;
	color: inherit;
}


