body
{
	margin: 0;
}

.header
{
	background-color: #3b3e4b;
	height: 20%;

}

.list-inline li
{
	display: inline-block;
}

.main-nav
{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 13px;
	font-family: tahoma;
	font-weight: bold;
	float: right;
}

.main-nav li
{
	padding:20px 10px;

}

.main-nav a
{
	text-decoration: none; 
	color: #828282;

}

.top-nav
{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 13px;
	font-family: tahoma;
	font-weight: bold;
	height: 85px;
	max-width: 980px;
	margin-left: 440px;
	position: relative;
}

.contain
{
	height: 85px;
	width: 980px;
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
    position: relative;
}

.top-nav li
{
	padding:20px 10px;

}

.top-nav a
{
	color: #828282;
	font-size: 10px;
}

.top-inline li
{
	display: inline-block;
	float: right;

}

.header-logo
{
	float: left;
	margin-top: 0px;
}


.content
{
	height: 300%;
}

.one
{
	background-color: #9cdcf2;
	height: 18%;

}

.one p
{
	text-align: center;
	font-family: "Times New Roman", serif;;
	font-weight: bold;
	color:white;
	font-size: 20px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    line-height: 30px;
    line-height: 160%;
}

.one h2
{
	text-align: center;
	font-family: "Kreon", "Times New Roman", serif;
	font-weight: bold;
	color:white;
	font-size: 34px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    line-height: 30px;
}


.one img
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.two
{
	background-color: #ee7541;
	height: 4%;
	text-align: center;
}

.two a
{
	color: #FFF;
    font-family: "Kreon", "Times New Roman", serif;
    font-size: 34px;
    line-height: 30pt;
    margin-top: 0%;
    text-decoration: none;
}

.three
{
	background-color: white;
	height: 15%;
}

.row-one
{
	height: 200px;
    width: 980px;
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
    position: relative;
    margin-bottom: -25px;

}
.left-side-one
{
	height: 170px;
	width: 400px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.left-side-one img
{
	float: left;
    position: relative;
    top: 25px;

}

.left-side-one h2
{
	
    font-weight: 700;
    font-size: 20px;
    line-height: 8px;
    font-family: tahoma, serif;

}

.left-side-one h3
{
	color: #ee7541;
	font-size: 12px;
	line-height: 8px;
	font-family: tahoma, serif;
}

.left-side-one p
{
	margin-left: 110px;
}

.row-two
{
	margin-top: 20px;
	height: 200px;
	width: 980px;
    padding: 0 20px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.right-side
{
	height: 170px;
	width: 400px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.right-side img
{
	float: left;
    position: relative;
    top: 25px;

}

.right-side h2
{
	
    font-weight: 700;
    font-size: 20px;
	line-height: 8px;
	font-family: tahoma, serif;
}

.right-side h3
{
	color: #ee7541;
	font-size: 12px;
	line-height: 8px;
	font-family: tahoma, serif;
}

.right-side p
{
	margin-left: 110px;
}


.four
{
	background-color: #f4f4f4;
	height: 20%;
	padding: 5px 250px;

}

.four h3
{
	font-family: "kreon", serif;
	text-align: center;
	font-size:30px; 
	color: #6b6b6b;
}



.five
{
	background-color: white;
	height: 13%;

}

.five img
{
	display: block;
	padding: 10px 0 0 1px;
	margin-left: 400px;
	margin-bottom: -25px;
}


 .column1of2
 {
 	height: 300px;
    width: 220px;
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    margin-top: -300px;
    color: #6b6b6b;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 300;
    line-height: 18pt;
    font-size: 16px;

 }

 .column2of2
 {
 	height: 300px;
    width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    margin-top: -320px;
    color: #6b6b6b;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 300;
    line-height: 18pt;
    font-size: 16px;
    margin-right: 375px;

 }


.six
{
	background-image: url(orange-back.jpg);
	height: 20%;
}

.six-content
{
	height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    color: white;
    text-align: center;
   	font-family: "Kreon", "Times New Roman", serif;
    font-size: 20px;
    line-height: 22pt;
}

.seven
{
	background-color: white;
	height: 5%;

}

.eight
{
	background-color: #f4f4f4;
	height: 15%;
}
.top-images
{
	width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    display: block;
}

.bottom-images
{
	width: 980px;
    margin-left: 450px;
    padding: 0 20px;
    position: relative;
}

.footer
{
	background-color: #3b3e4b;
}

.footer-center
{
	height: 300px;
    width: 250px;
    margin: 0 auto;
    color: white;
	font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 300;    
    font-size: 18px;
}

.footer-bottom
{
	height: 15%;
	background-color: #333643;
	text-align: center;
	color:white;
	font-family: "Kreon";
	padding: 10px 0px;
}


	
