body {
	margin:0;
	padding:0;
}

* {
	margin:0;
}

.container {
	max-width:940px;
	position:relative;
	margin:0 auto;
}

#main-nav {
	background-color:#3B3E4B;
}

ul.top-list {
	list-style-type:none;
}

ul.nav-list {
	list-style-type: none;
}

.list-inline li {
	display:inline-block;
}

#main-header {
	background-color:blue;
	height:100px;
	
}

main {
	background-color:#9CDCF2;
}

.content-section {
	
}

article.content-area.features {
	background-color:red;
}

#footer-content {
	background-color:yellow;
}
