/* Fonts so i dont forget em:

	font-family: 'Megrim', cursive;
	font-family: 'Six Caps', sans-serif;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'VT323', ;
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Just Another Hand', cursive;
	font-family: 'Delius Swash Caps', cursive;
*/


body
{
	background-color: gray;
}


.jumbotron
{
	background: url("studio.JPG");
	height: 350px;
	width: 100%;
	position: relative;
	
}

.jumbotron h1
{
	color: white;
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	margin-top: -5px;
	text-shadow: 10px 5px 50px white;
	outline-color: black;
}

.panel-heading
{
	text-align: center;
}

.nav-tabs
{
	display: inline-block;
}

.nav-tabs li
{
	padding-left: 60px;
	padding-right: 60px;
	font-family: 'Megrim', cursive;

}

.myAbout
{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}

.icon
{
	margin-left: 20px;
	margin-right: 20px;
	transition: opacity 0.5s ease;
	font-size: 50pt;
}

.icon:hover
{
	opacity: 0.2;
}

.fa-instagram
{
	color: #532900;
	
}

.fa-soundcloud
{
	color: #ff6600;
}

.myResume
{
	
}

.myResume h1
{
	font-family: 'Julius Sans One', sans-serif;
	padding: 20px;
}