/* Fonts so i dont forget em:

	font-family: 'Megrim', cursive;
	font-family: 'Six Caps', sans-serif;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Cabin Sketch', cursive;
	font-family: 'VT323', ;
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Just Another Hand', cursive;
	font-family: 'Delius Swash Caps', cursive;
*/


body
{
	background-color: gray;
}


.jumbotron
{
	background: url("studio.JPG");
	height: 350px;
	width: 100%;
	position: relative;
	box-shadow: 10px 20px 100px white;
	
}

.jumbotron h1
{
	color: white;
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	margin-top: -5px;
	text-shadow: 10px 5px 50px white;
	outline-color: black;
}

.panel-heading
{
	text-align: center;
}

.panel-body
{
	box-shadow: 10px 10px 100px black;
}

.nav-tabs
{
	display: inline-block;
}

.nav-tabs li
{
	padding-left: 60px;
	padding-right: 60px;
	font-family: 'Megrim', cursive;

}

.myAbout
{
	text-align: center;
}

.myAbout h1
{
	font-family: 'Cabin Sketch', cursive;
}

.myAbout p
{
	font-size: 20px;
	font-family: 'Julius Sans One', sans-serif;
}

.icon
{
	margin-left: 20px;
	margin-right: 20px;
	transition: opacity 0.5s ease;
	font-size: 50pt;
}

.icon:hover
{
	opacity: 0.2;
}

.fa-instagram
{
	color: #532900;
	
}

.fa-soundcloud
{
	color: #ff6600;
}

.myResume
{
	
}

.myResume h1
{
	font-family: 'Julius Sans One', sans-serif;
	padding: 20px;
	font-size: 30px;
	
}

.myResume p
{
	width: 40%;
	font-family: 'Julius Sans One', sans-serif;
}

.longestHour
{
	width: 450px;
	height: 450px;
	padding: 30px;
}

.titus
{
	width: 450px;
	height: 450px;
	padding: 30px;
}

.music
{
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}

.music h1
{
	font-size: 20px;
}

.myContact
{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}


.address
{
	display: inline-block;
	padding: 30px;
}

.phone
{
	display: inline-block;
	padding: 30px;
}

.email
{
	display: inline-block;
	padding: 30px;
}