body {
	background-image: url("ash.jpg");
	background-color: #FEFFF1;
	font-family: "Courier New", Courier, monospace;
}

div {
	background-image: url("fpaper.jpg");
	background-color: #FFFFFE;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.5);
}

.mainheading {
	text-align: center;
	font-weight: bolder;
	font-size: 250%;
	border-radius: 5px;	
}

.mainheading:hover{
	outline: #000000 dotted thick;
}

.heading {
	text-align: center;
	font-weight: bolder;
	font-size: 225%;
	border-radius: 5px;
}

.subsection {
	width: auto;
    height:150px;
    overflow-y:scroll;
	font-size: 200%;
	border-radius: 5px;
}
