html, body
{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #FF9966;
	overflow: hidden;
}

.leftNavBar
{
	height: 100%;
	width: 230px;
	background-color: white;
	position: fixed;
	box-shadow: 20px 0px 100px black;
	float: left;
	display: inline-block;
}

.create h2
{
	font-family: 'Open sans condensed', sans-serif;
	padding: 20px;
	font-size: 20px;
}

.fa-check-square
{
	
	margin-left: 20px;

}

.offers
{
	padding-bottom: 10;
}

.offers p
{
	font-family: 'Open sans condensed', sans-serif;
	color: #FF9966;
	font-weight: bold;
	list-style: none;
	display: inline;
	margin-left: 10px;
	
}

.myButton
{
	text-decoration: none;
	font-size: 10pt;
	color: #16161F;
	text-align: center;
	transition: background-color 0.3s ease;
	background-color: gray;
	padding: 20;
	margin-top: 40px;
	margin-left: 20px;
	float: left;
	font-family: 'Raleway', sans-serif;
	border-radius: 10px;
	width: 120px;
	font-weight: bold;
}

.mybutton:hover
{
	background-color: black;
	color: gray;
}

.rightNavBar
{
	height: 1000px;
	width: 230px;
	background-color: white;
	position: fixed;
	right: 0px;
	box-shadow: 0px 0px 100px 20px black;
	display: inline-block;	
}

input
{
	font-family: 'Open sans condensed', sans-serif;
	border: 1px solid #363636;
	border-radius: 3px;
	background-color: black;
	color: #bebebe;
	box-shadow: 10px 10px 20px black;
	width: 150px;
}

.search
{
	text-align: center;
	margin-top: 20px;
	margin-left: -10px;


}

.switch h3
{
	color: #16161F;
	font-family: 'Open sans condensed', sans-serif;
	font-size: 9pt;
	margin-left: 20px;
	margin-top: 40px;
	text-align: left;

}

.switch h2
{
	font-family: 'Poiret one', cursive;
	text-align: center;
	background-color: #1A1929;
	color: white;
	margin: 0;
	padding: 10px;
	font-size: 14px;
	font-weight: lighter;

	

	
	
}

.switch a
{
	font-family: 'Poiret one', cursive;
	background-color: #C5C5C5;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: black;
	display: block;
	line-height: 0px;
	padding: 5px;
	transition: background-color 0.5s ease;
	transition: font-size 0.2s ease;


}



.switch a:hover
{
	background-color: #1A1929;
	color: white;
	font-size: 18px;
	font-weight: lighter;
}

.switch p
{
	margin-left: 80px;
}

.switch h5
{
	text-align: center;
	margin: 0;
	opacity: 0.4;
}

.explore h3
{
	color: #16161F;
	font-family: 'Open sans condensed', sans-serif;
	font-size: 9pt;
	margin-left: 40px;
	margin-top: 20px;
	text-align: left;

}

.explore h2
{
	font-family: 'Poiret one', cursive;
	text-align: center;
	background-color: #1A1929;
	color: white;
	margin: 0;
	padding: 10px;
	font-size: 14px;
	font-weight: lighter;
}

.explore a
{
	font-family: 'Poiret one', cursive;
	background-color: #C5C5C5;
	font-weight: bold;
	margin-bottom: 5px;
	text-decoration: none;
	font-size: 14px;
	text-align: left;
	color: black;
	display: block;
	line-height: 0px;
	padding: 4px;
	transition: background-color 0.5s ease;
	transition: font-size 0.2s ease;
}

.explore a:hover
{
	background-color: #1A1929;
	color: white;
	font-size: 18px;
	font-weight: lighter;
}

.explore p
{
	margin-left: 80px;
}

.explore h5
{
	text-align: center;
	opacity: 0.4;
	margin: 0;
}

.teams h3
{
	color: #16161F;
	font-family: 'Open sans condensed', sans-serif;
	font-size: 9pt;
	margin-left: 40px;
	margin-top: 20px;
	text-align: left;

}

.teams a
{
	font-family: 'Poiret one', cursive;
	font-weight: bold;
	background-color: #C5C5C5;
	margin-bottom: 5px;
	font-size: 14px;
	text-decoration: none;
	text-align: left;
	color: black;
	display: block;
	line-height: 0px;
	padding: 5px;
	transition: background-color 0.5s ease;
	transition: font-size 0.2s ease;
}

.teams a:hover
{
	background-color: #1A1929;
	color: white;
	font-size: 18px;
	font-weight: lighter;
}

.teams p
{
	margin-left: 80px;
}

.teams h5
{
	text-align: center;
	opacity: 0.3;
	margin: 0;
}

.mylogo
{
	text-align: center;
	width: 80px;
	margin-top: 10px;

}

.middleContent
{
	display: inline-block;
	width: 60%;
	height: 100%;
	background-color: #1A1929;
	box-shadow: 0 0 50px 10px black;
	overflow-y: scroll;
	overflow-x: hidden;

}

::-webkit-scrollbar
{
	height: 200px;
	width: 2px;
}

::-webkit-scrollbar-track
{
	background-color: #222222;

}

::-webkit-scrollbar-thumb
{
	background-color: #ff934d;
	border-radius: 10px;

}

.tournaments h2
{
	color: white;
	font-family: 'Open sans condensed', sans-serif;
}

.tournaments h3
{
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 10px white;
}


.account
{

}

.account p
{
	color: #FF9966;
	font-family: 'Open sans condensed', sans-serif;
	font-weight: bolder;
}

.picture
{
	width: 70%;
	height: 15%;
	border-radius: 30px;
	box-shadow: 5px 5px 30px black;
}

.leftContent
{
	margin-top: 30px;
}

.leftContent a
{
	font-family: 'Poiret one', cursive;
	background-color: #C5C5C5;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	color: black;
	display: block;
	padding: 10px;
	transition: background-color 0.5s ease;
	transition: font-size 0.2s ease;
}

.leftContent a:hover
{
	background-color: #1A1929;
	color: white;
	font-size: 25px;
	font-weight: lighter;
}

.ContentTable td
{
	padding: 35px;
}

.stream
{
	width: 250px;
	height: 160px;
	padding: 10px;
}
