body
{
  background-color: #E3B11F;
  color: #ccc;
}

ul
{
  list-style-type: none;
}

h1
{
  font-family: "Kaushan","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

hr
{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header
{
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url('images/header-bg.jpg');
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 760px;
  padding-top: 290px;
}

header .intro-text
{
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in
{
  margin-bottom: 10px;
  font-family: "Cuprum","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 19px;
  font-style: italic;
  line-height: 20px;
}

header .intro-text .intro-heading
{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Kaushan","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.opaq
{
  background:rgba(255,255,255,0.5);
}

.border
{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
  border-color: white;
}

.btn-trans
{
  /*background: none;*/
  background-color: rgba(0,0,0,0.3);
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  color: #fff;
}

.btn-blue, .btn-blue:focus, .btn-blue:active, .btn-blue.active
{
  background-color: #00457D;
  color: #ccc;
}

.btn-blue:hover
{
  background-color: #326a97;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary.active, .btn-trans:hover, 
.btn-trans:focus, .btn-trans:active
{
  background: rgba(0,0,0,0.6);
  color: white;
  border-color: white;
}

.navbar-inverse
{
  box-shadow: 0 0 5px 3px black;
  font-family: "Montserrat";
}

.navbar-nav li a:hover
{
  text-shadow: 2px 2px 15px;
}

.navbar-right
{
  padding-top: 15px;
}

.form-text
{
  border-radius: 3px;
  background: none;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  color: #ccc;
  font-size: 17px;
  padding-left: 5px;
}

.theme
{
  font-family: 'Abel', sans-serif;
  padding: 25px;
}

.content
{

}

.t-trans
{
  background-color: transparent;
}

.t-yellow
{
  background-color: #E3B11F;
  color: #00457D;
  padding: 15px;
}

.t-yellow h1 a
{
  color: #00457D;
}

.t-yellow h1 a:hover
{
  color: #326a97;
}

.t-yellow iframe
{
  border: none;
  overflow: hidden;
  width: 500px;
  height: 600px;
  background-color: #444;
  float: left;
  border-radius: 5px;
}

.card
{
  margin: 15px;
  padding: 15px;
  border-color: #00457D;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background:rgba(255,255,255,0.2);
}

.card-title
{
  font-family: "Montserrat", Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.card-text
{
  font-size: 14;
}

.text-muted
{
  font-size: 12;
  padding-top: 5px;
}

.separator
{
  height: 30px;
  /*background-color: #282C2F;*/
  background-color: #222;
  text-align: center;
  line-height: 30px;
  color: #9d9d9d;
  font-family: "Montserrat";
  font-weight: 
}

.t-blue
{
  background-color: #00457D;
  color: #ccc;
}

.item img
{
  border-radius: 10px;
}

.featured
{
  margin: 35px auto;
}

.well
{
  background: none;
  border-style: none;
 /* padding: 25px;
  box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.34);
  border-radius: 5px;
  box-shadow: inset 0px 0px 11px 3px 
    rgba(231,166,26,1);*/
}

.well-left
{
  padding: 15px;
  margin: 15px;
  text-align: center;
}   

.well-left button
{
  width: 100%;
}

.btn-group
{
  margin: 15px;
}

.btn-lg, .btn-lg:focus
{
  background-color: #333;
  color: #E3B11F;
  border: none;
}

.btn-lg:hover, .btn-lg:active
{
  background-color: #222;
  color: #E3B11F;
}

.dropdown-menu
{
  background-color: #222;
}

.dropdown-menu li a
{
  color: #337ab7;
}

.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-default:active,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:visited
{
  background-color: #222;
  color: #E3B11F;
}

.btn-default.active.focus, .btn-default.active:focus, 
.btn-default.active:hover, .btn-default:active.focus, 
.btn-default:active:focus, .btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover
{
  background-color: #222;
  color: #E3B11F;
}

.btn-default.active, .btn-default:active, 
.open>.dropdown-toggle.btn-default
{
  background-color: #222;
  color: #E3B11F;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
  background-color: #222;
  color: #E3B11F;
}

.t-grey
{
  background-color: #222;
  color: #ccc;
  padding: 20px 0 15px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
}

.t-grey a:hover
{
  font-weight: bolder;
}

.glow
{
  text-shadow: 2px 2px 15px;
}

.overlay{
  background-image: url('images/overlay.png');
  background-repeat: repeat;
}

.t-grey iframe
{
  padding-top: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.t-grey a:hover
{
  color: #E3B11F;
  text-decoration: none;
}

audio 
{
  position: fixed;
  padding: 10px auto 0 auto;
  display: block;
  top: 7px;
  left: 50%;
  border-radius: 10px;
  z-index: 9999;
}

.wvupradio a
{
  position: fixed;
  display: block;
  top: 40px;
  left: 53.5%;
  z-index: 9999;
  color: #9d9d9d;
  font-family: "Montserrat";
  font-size: 11px;
}

.wvupradio a:hover
{
  color: white;
  text-decoration: none;
}

.alert 
{
  position: relative;
  /*transform: perspective(3px) rotateX(1deg);*/
  border-radius: 0 0 10px 10px;
  padding: auto;
  display: block;
  top: 55px;
  left: -50%;
  z-index: 999;
  background-color: #222;
  color: #ccc;
}

.alert:hover
{
  color: white;
  box-shadow: 2px 2px 15px;
  text-decoration: none;
}

footer
{
  background-color: #222;
  text-align: center;
  padding: 15px;
  color: #9d9d9d;
  font-family: "Montserrat";
}

footer .fa
{
  font-size: 25px;
}

footer a
{
  color: #9d9d9d;
  padding: 5px;
}

footer a:hover
{
  color: white;
  text-decoration: none;
}

footer .left
{
  text-align: right;
}

footer ul
{
  list-style-type: none;
}

/*----------------------------------------------*/

.post
{
  margin: 0 auto; 
  /*padding-bottom: 50px; */
  float: left; 
  width: 960px; 
}

#mask
{
  display: none;
  background: #000; 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 10;
  width: 100%; 
  height: 100%;
  opacity: 0.8;
  z-index: 999;
}

.login-popup
{
  display:none;
  background: #222;
  padding: 10px;  
  border: 2px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; 
  left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999;
  border-radius:3px;
}

img.btn_close
{
  float: right; 
  margin: -28px -28px 0 0;
}

fieldset
{
  border:none; 
}

form.signin .textbox label
{
  display:block; 
  padding-bottom:7px; 
}

form.signin .textbox span
{
  display:block;
}

form.signin p, form.signin span
{
  color:#E3B11F; 
  font-size:12px; 
  line-height:18px;
  font-family: "Montserrat";
} 

form.signin .textbox input
{
  background:#666666; 
  border-bottom:1px solid #333;
  border-left:1px solid #000;
  border-right:1px solid #333;
  border-top:1px solid #000;
  color:#fff; 
  border-radius: 3px 3px 3px 3px;
  font:13px Arial, Helvetica, sans-serif;
  padding:6px 6px 4px;
  width:200px;
}

form.signin input
{
 color:#bbb; 
 text-shadow:0 0 2px #000; 
}

.button
{
  background: rgba(0,0,0,0.2);
  border-color:#fff; 
  border-width:1px;
  border-radius:4px;
  color:#ccc;
  cursor:pointer;
  display:inline-block;
  padding:6px 6px 4px;
  margin:10px 10px;
  font:8px; 
  width:auto;
}

.button:hover
{
 background: rgba(0,0,0,0.5);
 color: white;
}

.forgot:hover
{
  color: #337ab7;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}