body
{
  /*background: url('images/riverhawksy.png') 
  no-repeat top center fixed;*/
  background-color: #E3B11F;
  /*color: #00457D;*/
  color: #ccc;
}

h1
{
  font-family: "Kaushan","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

hr
{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header
{
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url('images/header-bg.jpg');
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 760px;
  padding-top: 290px;
}

header .intro-text
{
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in
{
  margin-bottom: 10px;
  font-family: "Cuprum","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 19px;
  font-style: italic;
  line-height: 20px;
}

header .intro-text .intro-heading
{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Kaushan","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.opaq
{
  background:rgba(255,255,255,0.5);
}

.border
{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
  border-color: white;
}

.btn-trans
{
  background: none;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  color: #fff;
}

.btn-blue
{
  background-color: #00457D;
  color: #ccc;
}

.btn-blue:hover
{
  background-color: #326a97;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary 
{
  background: rgba(0,0,0,0.3);
  color: white;
  border-color: white;
}

.navbar-inverse
{
  box-shadow: 0 0 5px 3px black;
  font-family: "Montserrat";
}

.navbar-right
{
  padding-top: 15px;
}

.form-text{
  border-radius: 3px;
  background: none;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  color: #ccc;
  font-size: 17px;
  padding-left: 5px;
}

.theme
{
  font-family: 'Abel', sans-serif;
  padding: 25px;
}

.content
{

}

.banner
{
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}

.t-trans
{
  background-color: transparent;
}

.t-yellow
{
  background-color: #E3B11F;
  color: #00457D;
  padding: 15px;
}

.news
{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.t-yellow h1 a
{
  color: #00457D;
}

.t-yellow h1 a:hover
{
  color: #326a97;
}

.t-yellow iframe
{
  border: none;
  overflow: hidden;
  width: 500px;
  height: 600px;
  background-color: #444;
  float: left;
  border-radius: 5px;
}

.card
{
  margin: 15px;
  padding: 15px;
  border-color: #00457D;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background:rgba(255,255,255,0.2);
}

.separator
{
  height: 30px;
  /*background-color: #282C2F;*/
  background-color: #222;
  text-align: center;
  line-height: 30px;
  color: #9d9d9d;
  font-family: "Montserrat";
  font-weight: 
}

.t-blue
{
  background-color: #00457D;
  color: #ccc;
}

.featured
{
  padding-top: 210px;
}

.featured .well
{
  background-image: url('images/featured.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 3px;
  border-radius: 10px;
  border-color: #ccc;
  margin-bottom: 35px;
}

.featured .jumbotron
{
  background:rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

.t-grey
{
  background-color: #222;
  color: #ccc;
  padding: 20px 0 15px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
}

.overlay{
  background-image: url('images/overlay.png');
  background-repeat: repeat;
}

.t-grey iframe
{
  padding-top: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.t-grey a:hover
{
  color: #E3B11F;
  text-decoration: none;
}

.float-tab
{
  position: fixed;
  padding: 10px auto 0 auto;
  display: block;
  top: 50px;
  float: right;
  /*right: 75px;*/
  font-family: "Abel", "Helvetica", sans-serif;
  font-weight: 700;
  width: 160px;
  color: white;
  text-align: center;
  /*background-color: #585b5d;*/
  border-radius: 10px;
}

footer
{
  background-color: #222;
  text-align: center;
  padding: 15px;
  color: #9d9d9d;
  font-family: "Montserrat";
}

footer .fa
{
  font-size: 25px;
}

footer a
{
  color: #9d9d9d;
  padding: 5px;
}

footer a:hover
{
  color: white;
}

footer .left
{
  text-align: right;
}

footer ul
{
  list-style-type: none;
}