body
{
	background: url('images/riverhawks.png') 
	no-repeat top center fixed;
	background-color: #E3B11F;
	color: #00457D;
}

.navbar-style
{
	/*background-color: #1C2023;*/
	background: linear-gradient(to bottom, #4c4c4c 0%,
		#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,
		#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,
		#131313 100%);
	box-shadow: 0 0 5px 3px black;
}

.theme
{
	font-family: 'Ubuntu', sans-serif;
	padding: 25px;
}

.t-trans
{
	background-color: transparent;
}

.t-yellow
{
	background-color: #E3B11F;
	color: #00457D;
}

.t-dkgrey
{
	background-color: #282C2F;
	color: #9b9b9b;
}

.t-ltgrey
{
	background-color: #606568;
	color: #fff;
}

.t-blue
{
	background-color: #00457D;
	color: #ccc;
}

.t-white
{
	background-color: #ccc;
	color: #696969;
}

hr
{
	height: 2px;
	border: 0;
  box-shadow: 0 0 5px 1px white;
}

h1
{
	font-family: 'Jura', sans-serif;
	text-shadow: 2px 2px 2px #000;
}