.grid-image
{
	background-image: url(images/gridbg_glow.png);
	background-repeat: repeat center top;
	z-index: 13;
}

.theme
{
	background-color: #282C2F;
	font-family: 'Ubuntu', sans-serif;
	color: #ccc;
}

.navbar-color
{
	background-color: #1C2023;
}