.bodybg {

	background-image: url("img/pt.jpg");
	background-size: cover;
}

.flipclass {

	background-color: none;
	height: 500px;

}

.formAttributes {

	background-color: #FFCC99;
	font-family: 'Lora', sans-serif;
	/*color: #9F703A;*/
	outline: 2px solid #9F703A;
	text-align: center;

}

.refreshForm {
	
	background-color: #FFCC99;
	font-family: 'Lora', sans-serif;
	color: #9F703A;
	text-align: center;
}

.coverA {

	background-color: #9F703A;
	width: 80%;
	height: 500px;
	text-align: center;
	font-family: 'Lora', sans-serif;
	font-size: 30px;
	color: #E5C100;
	box-shadow: inset 0px 0px 3px 3px #603311;

}

.coverB {

	background-color: #355E3B;
	width: 80%;
	height: 500px;
	text-align: center;
	font-family: 'Lora', sans-serif;
	font-size: 30px;
	color: #E5C100;
	box-shadow: inset 0px 0px 3px 3px #003018;

}

.pageA {

	background-color: #FFCC99;
	font-family: 'Lora', sans-serif;
	box-shadow: inset 0px 0px 3px 3px #7B3F00;
	width: 70%;
	height: 500px;
}

.topnav_btn {
	background-color: rgba(254, 204, 153, 1.0);
	border-radius: 0 !Important;
	outline: 2px solid #9F703A;
	font-family: 'Lora', sans-serif;
}

.topnav_btn:hover {

    background-color: rgba(254, 204, 153, .50);

}

.aboutText {

	border-radius: 10px;
	background-color: rgba(254, 204, 153, .80);
	font-family: 'Dosis', sans-serif;
	box-shadow: inset 0px 0px 0px 2px #9F703A;
	padding: 4px;
}


