.bodybg
{
	background-image: url("img/pt.jpg");
	background-size: cover;
}

.flipclass
{
	background-color: none;
	height: 500px;

}

.coverA {
	background-color: #9F703A;
	width: 80%;
	height: 500px;
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 30px;
	box-shadow: inset 0px 0px 3px 3px #603311;
}

.pageA{
	background-color: #FFCC99;
	box-shadow: inset 0px 0px 3px 3px #7B3F00;
	width: 70%;
	height: 500px;
}

.topnav_btn
{
	box-shadow: inset 0px 0px 3px 3px green;
}

.topnav_btn:hover
{
    background-color: lightblue;
}


