body
{
	background-color: #70AAFF;
	margin: 0;
}

ul.list-unstyled li
{
	list-style-type: none;
}

.list-inline li
{
	display: inline-block;
}

.main-nav
{
	background-color:  #000099;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 13px;
	font-family: tahoma;
	font-weight: bold;

}

.main-nav li
{
	padding:20px 10px;
}

.main-nav li:hover
{
	background-color: #e3b11f;
}

.main-nav li:hover a
{
	background-color: #000099;
}

.main-nav a
{
	text-decoration: none; 
	color: #e3b11f;
}

.container
{
	max-width: 1100px;
	margin: 0 auto;
	/*height: 100%;*/
}

.left-pane
{
	float:left;
	width:20%;
	height: 137%;
	text-align: right;
	list-style-type: none;
	border-radius: 25px;
	background: linear-gradient(#e3b11f, #FFE887);    



}

.left-pane a
{
	text-decoration: none; 
	color: navy;
	font-family: arial;
	font-size: 13px;
	margin-right: 12px;
}


.center-pane
{
	float:right;
	width:70%;
	background-color: white;
	height: 100%;
}

.landing-box
{
	height: 350px;
	background-color: blue;

}


.content
{
	margin-top: -60px;
	background-color: rgba(255, 255, 255, 0.9);
	height: 800px;
	width: 880px;
	float: left;
	border-radius: 25px;


}

.click-here
{
	margin-top: 100px;
	margin-left: 10px;
}

h2.title
{
	margin-left: 10px;
	text-align: left;
	margin-right: 300;
	font-family:arial;
	color: navy;
}


p.content-text
{
	margin-left: 10px;
	margin-right: 300;
	color: navy;
	font-family: arial;
}

p.ensemble-text
{
	margin-left: 10px;
	margin-right: 300;
	color: navy;
	margin-left: 10px;
	margin-right: 300;
	font-family: arial;
	color: navy;
}


.footer
{

	margin-left: 0px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 200px;
    width: 880px;
    float: left;
    border-radius: 25px;
    text-align: center;
    font-family:arial;
    font-size: 14px;
}

ul.footer-unstyled li
{
	list-style-type: none;
	font-family: arial;
	font-size: 17px;
	
}

.footer-inline li
{
	display: inline-block;
	text-align: right;
	border-radius: 25px;

}

p.footer
{
	font-size: 12px;
	font-family:arial;
}

