/*
Link blue: #337AB7
Base purple: #FFC8FF;

St. Lucia Color Palette:
http://www.color-hex.com/color-palette/11187
*/

.nolinkstuff
{
	color: inherit;
	text-decoration: none;
}

.btn-top
{
	background-color: #41b8f2;
}

.btn-bottom
{
	background-color: #fdc411;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	width: 20%;
}

.btn
{
	border-radius: 1px;
}

.framestyle
{
	width: 450px;
	height: 500px;
}