/*
Link blue: #337AB7
Base purple: #FFC8FF;

*/

.nolinkstuff
{
	color: inherit;
	text-decoration: none;
}

.btn-top
{
	background-color: #FFE4FF;
}

.btn-bottom
{
	background-color: #99BCDB;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	width: 20%;
}

.btn
{
	border-radius: 1px;
}

.framestyle
{
	width: 500px;
	height: 200px;
}